.prev, .next, .cardAndcount, .row, .main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.cardAndcount {
  display: flex;
  flex-direction: column;
  color: darkblue;
}

.row {
  height: 100vh;
}

.bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -5%;
  padding: 2em;
  box-shadow:2px -5px 10px lightsteelblue;
}

.main {
  position: relative;
  left: -6%;
}