.prev, .next, .cardAndcount, .row, .main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.cardAndcount {
  display: flex;
  flex-direction: column;
  color: darkblue;
}

.row {
  height: 95vh;
}

.bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -5%;
  top: 5%;
  padding: 1em;
  box-shadow:2px -5px 10px lightsteelblue;
}

.main {
  position: relative;
  left: -6%;
  top: 3.5%;
}

.btn-info {
  transition: all .1s;
  background-color: darkblue !important
}

.btn-info:hover {
  transform: scale(1.05);
}