.prev, .next, .def, .row, .main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.def {
  display: flex;
  flex-direction: column;
  color: darkblue;
}

.row {
  height: 100vh;
}

.bar {
  position: relative;
  left: -5%;
}

.main {
  position: relative;
  left: -6%;
  top: 5%;
}